div {
    font-family:arial;
    font-size:16px;
}
h1 {
    font-size:20px;
    font-weight:normal;
    margin:0px;
}
.left {
    float:left;
}
.space20 {
    width:20px;
}
.menu_slider {
    position:relative;
    background-color:#299891;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width:902px;
    height:32px;
    overflow:hidden;
}
.menu_overlay {
    width:902px;
    height:32px;
    height:1px;
    position:absolute;
    left:20px;
    top:0px;
    z-index:2;
}
.menu_state {
    width:180px;
    height:32px;
    position:absolute;
    left:-180px;
    top:0px;
    border-radius: 8px;
    background-color:#23857f;
    z-index:1;
}
.menu {
    float:left;
    position:relative;
    height:28px;
    cursor:pointer;
    padding:4px 0px 0px 180px;
}
.menu div {
    position:absolute;
    opacity:0.0;
    color:white;
    width:100%;
}